:root {
  --ifm-background-color: #eff4f9;
  --ifm-hover-overlay: #eff4f9;
  --doc-sidebar-width: 240px !important;
  --ifm-menu-color: #404e68;
  --ifm-menu-color-background-active: transparent;
}

.navbar__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

a.navbar__item.navbar__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.theme-doc-sidebar-container {
  background-color: #f9fbfd;
}

.menu__link {
  font-size: 14px;
  line-height: 24px;
}

.pagination-nav__link {
  border-width: 0;
}
