:root {
  --ifm-background-color: #eff4f9;
  --ifm-hover-overlay: #eff4f9;
  --ifm-navbar-item-padding-horizontal: 1rem;
  --doc-sidebar-width: 240px !important;
  --ifm-menu-color: #404e68;
  --ifm-menu-color-background-active: transparent;
}

.navbar__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

a.navbar__item.navbar__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.theme-doc-sidebar-container {
  background-color: #f9fbfd;
}

.menu__link {
  font-size: 14px;
  line-height: 24px;
}

.pagination-nav__link {
  border-width: 0;
}

.markdown img {
  box-sizing: border-box;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #d1d7df;
  box-shadow: 0 10px 15px -3px rgb(113 128 150 / 10%),
    0 4px 6px -2px rgb(113 128 150 / 5%);
}

.pagination-nav__sublabel {
  // font-size: 14px;
  // line-height: 24px;
  color: #79879c;
}

.pagination-nav__label {
  // font-size: 16px;
  // line-height: 28px;
  color: #242e42;
  font-weight: 500;

  &:hover {
    color: var(--ifm-color-primary);
  }
}

.pagination-nav__item:first-child .pagination-nav__label::before {
  content: ' ';
}

.pagination-nav__item--next .pagination-nav__label::after {
  content: ' ';
}
