@import '_base';

:root {
  --ifm-color-primary: #00a971;
  --ifm-color-primary-dark: #009866;
  --ifm-color-primary-darker: #009060;
  --ifm-color-primary-darkest: #00764f;
  --ifm-color-primary-light: #00ba7c;
  --ifm-color-primary-lighter: #00c282;
  --ifm-color-primary-lightest: #00dc93;
}

.navbar__brand {
  margin-right: 3rem;
}

.navbar__title {
  color: #fff;
}

a.navbar__item.navbar__link {
  color: #abb4be;
}

a.navbar__item.navbar__link {
  &:hover,
  &.navbar__link--active {
    color: #fff;
  }
}
