@import '_base';

:root {
  --ifm-color-primary: #55bc8a;
  --ifm-color-primary-dark: #45b07c;
  --ifm-color-primary-darker: #42a675;
  --ifm-color-primary-darkest: #368961;
  --ifm-color-primary-light: #69c497;
  --ifm-color-primary-lighter: #72c89e;
  --ifm-color-primary-lightest: #90d3b2;
}

.navbar__brand {
  margin-right: 3rem;
}

.navbar__title {
  color: #fff;
}

a.navbar__item.navbar__link {
  color: #abb4be;
}

a.navbar__item.navbar__link {
  &:hover,
  &.navbar__link--active {
    color: #fff;
  }
}
